@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Niconne&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0em;
    margin: 0em;
}
body{
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 2rem;
}

#main{
    padding: 15px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 2%;
    margin-right: 2%;
    background: rgb(138, 7, 7);
    border-radius: 10px;
}

.img-1{
    background-image: url(key.jpg);
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgb(124, 21, 21);
    background-repeat: no-repeat;
    align-items: center;

}

#main .img-1 .img img{
    margin-top: 1em;
    align-items: center;
    height: 100%;
    width: 90%;
    
}

#main p{
    font-size: 15px;
    padding: 1rem;
}

.para{
    color: rgb(185, 191, 196);
}

.list{
    margin: 40px 0px 40px 0px;
    font-size: 30px;
    
}

.list ul{
    font-size: 15px;
    text-align: justify;
    padding: 0% 25% 0% 25%;
    margin-top: 3%;
    
}

.list ul li{
    margin: 15px;
} 

.list ul li span{
    font-weight: bold;
}
.list p{
    font-style: italic;
    margin-right: 25%;
    margin-left: 25%;
    text-align: justify;
}

.footer{
    font-size: 23px;
    font-weight: bolder;
    margin: 15px;
    
}

